<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <h2 style="color: black; margin-left: 20px;">Top 10 Songs </h2>
    <div class="d-flex">
      <button type="button" class="btn btn-dark btn-sm" (click)="addNewelement()"> + Add Song</button>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div class="mt-5">
    <table class="table">
      <thead class="thead-light bg-dark">
        <tr>
          <th scope="col">Art Work</th>
          <th scope="col">Song</th>
          <th scope="col">Date of Release</th>
          <th scope="col">Artists</th>
          <th scope="col">Rate</th>
        </tr>
      </thead>
      <br>
      <tbody>
        <tr *ngFor="let item of crud;index as i;">
          <th scope="row">{{i+1}}</th>
          <td>{{item.artWork}}</td>
          <td>{{item.song}}</td>
          <td>{{item.dor}}</td>
          <td>{{item.artists}}</td>
          <td>{{item.rate}}</td>
        </tr>

      </tbody>
    </table>

    <!-- ///////Add Song////////// -->
    <br><br>
    <div class="container1" *ngIf="checkAdd">
      <form>
        <h3>Adding new Song</h3>
        <br><br>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Song Name</label>
          <div class="col-sm-10">
            <input [(ngModel)]="songs" [ngModelOptions]="{standalone: true}" type="name" class="form-control">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Date Released</label>
          <div class="col-sm-10">
            <input [(ngModel)]="dateOfR" [ngModelOptions]="{standalone: true}" type="name" class="form-control">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Artwork</label>
          <div class="col-sm-10">
            <div class="Neon Neon-theme-dragdropbox">
              <input [(ngModel)]="aWork"
                style=" opacity: 0; position: absolute; right: 0px; left: 0px; margin-right: auto; margin-left: auto;"
                name="files[]" id="filer_input2" multiple="multiple" type="file">
              <div class="Neon-input-dragDrop">
                <div class="Neon-input-inner">
                  <div class="Neon-input-icon"><i class="fa fa-file-image-o"></i></div>
                  <div class="Neon-input-text"></div><a class="Neon-input-choose-btn">Upload Image</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Artists</label>
          <div class="col-sm-10">
            <select class="form-select" aria-label="Default select example">
              <option selected>Search</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="4">Four</option>
              <option value="5">Five</option>
              <option value="6">Six</option>
            </select>
            <div class="input-group mb-3">
              <button class="btn btn-outline-danger" routerLink="/add-artits" type="button" id="button-addon2">+ Add
                Artist</button>

            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Rate</label>
          <div class="rate">
            <input [(ngModel)]="servi" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              type="radio" id="star5" name="rate" value="5" />
            <label for="star5" title="text">5 stars</label>
            <input [(ngModel)]="servi" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              type="radio" id="star4" name="rate" value="4" />
            <label for="star4" title="text">4 stars</label>
            <input [(ngModel)]="servi" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              type="radio" id="star3" name="rate" value="3" />
            <label for="star3" title="text">3 stars</label>
            <input [(ngModel)]="servi" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              type="radio" id="star2" name="rate" value="2" />
            <label for="star2" title="text">2 stars</label>
            <input [(ngModel)]="servi" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
              type="radio" id="star1" name="rate" value="1" />
            <label for="star1" title="text">1 star</label>
          </div>
        </div>
        <br>
        <div class="btnclass">
          <button type="cancel" class="btn-outline-secondary">Cancel</button>
          <button type="submit" class="btn btn-secondary" (click)="add()">Save</button>
          <br><br><br><br><br><br>
        </div>
      </form>
    </div>